<%= form_for @todo, remote: true do |f| %>
  <div class='form-group'>
    <%= f.text_field :description, placeholder: 'What needs doing?', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.text_field :priority, placeholder: 'priority level', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.submit class: 'btn btn-outline-info center-block'%>
  </div>
<% end %>
